.s_img {
	height: 450px !important;
}
body {
	background-color: darkgray;
}
.main {
	max-width: 1138px;
	padding: 0px 81px;
}

.f_menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.f_menu li {
	float: left;
padding: 2% 22%;
}

.f_menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer {
	background-color: darkslategray;
	clear: both;
	height: 100px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li:first-child{
  padding-right: 55%;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 .menu li a:hover {
  background-color: #111;
}

.header{
    background-color: #333;
}
.hover {
	background-color: rgba(255, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 300px;
  display: none;
}
.block:hover .hover {
  display: block;
}

.block {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	width: 48%;
  margin: 1% 0;
  position: relative;
}
.block p {
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	margin-top: 10%;
}
.block:nth-of-type(1){
  margin-right: 4%;
}
.block:nth-of-type(3){
  margin-right: 4%;
}

.block.pic1 {
 background-image: url("/images/s1.jpg");

}

.block.pic2 {
	background-image: url('/images/s2.jpg');
}
.block.pic3 {
	background-image: url('/images/piezo.jpg');
}
.block.pic4 {
	background-image:  url('/images/s3.jpg');
}
.hover .h_p {
	text-align: center;
	margin-top: 43%;
}
.hover .h_p a{
  text-decoration: none;
  font-size: 20px;
  color: white;

}
.data h2,h3{
text-align: center;
margin: 2% 0;
}
